@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: system-ui, -apple-system, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.leaflet-container {
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
}

.leaflet-draw-toolbar a {
  background-image: url("https://unpkg.com/leaflet-draw@1.0.4/dist/images/spritesheet.png") !important;
}
